// Reset styles
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
  }
  
  // Global variables
  :root {
    --color-primary: #fd4703;
    --color-white: #fff;
    --color-black: #000000;
  }
  
  // Smooth scrolling for the entire document
  html {
    scroll-behavior: smooth;
  }
  
  // Navigation styles
  nav {
    background: var(--color-primary);
  }

  .navbar img {
    width: 9%;
  }

  .navbar-small {
    li,i {
        margin-bottom: 20px;
        cursor: pointer;
    }
  }
  
  // Styles for custom search input
  .custom-search {
    width: 165px;
  }

  .custom-search::placeholder {
    color: var(--color-white);
  }
  
  // Margin between list items
  ul li {
    margin-right: 15px;
  }
  
  // Styles for SVG icons
  .svg i {
    font-size: 20px;
  }
  
  // Styles for the shopping cart
  .cart {
    position: relative;
    display: inline-block;
  
    // Style for the count badge
    .count {
      position: absolute;
      top: -9px;
      right: -11px;
      background-color: var(--color-black); 
      color: var(--color-white); 
      border-radius: 50%; 
      width: 20px; 
      height: 20px;
      text-align: center;
      line-height: 20px;
      font-size: 12px;
    }
  }
  
  .custom-hr {
    border-top: 1px solid var(--color-white) !important;
  }

  // Bar Section
  
  .bar {
    span {
        font-size: 13px;
    }
  }

  .input-group {
    input {
      width: 165px !important;
    }
  }

  // Responsiveness Medium Screens
  @media screen and (max-width: 1024px) {
    .navbar-large {
        display: none !important;
    }
    .bar {
      flex-direction: column;
  
      span {
        text-align: center;
        margin-bottom: 10px;
      }
    }
  }
  @media (min-width: 992px) and (max-width: 1024px){
    .mobile-nav {
      display: block !important;
    }
  }
  // Responsiveness Small Screens
  @media(max-width: 600px) {
    .navbar img {
        width: 32%;
    }
    .bar {
      flex-direction: column;
  
      span {
        text-align: center;
      }
    }
  }